.room-grid {
  display: grid;
  grid-template-rows: 60vh 20vh 10vh;
height: 90vh;
}

.main-video {
  background-color: orange;
}
.video-list {
  background-color: pink;
}

.switch-cam {
  background-color: lightblue;
}
